#root {
  margin: 20px 0;
  text-align: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1em;

  width: 21rem;
  margin: auto;
}

.board {
  width: 21rem;
  margin: auto;
}

.status {
  height: 6rem;
}

.p {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}